/********************************FIN DE MIXIING****************************************/
/* line 179, ../estilos_scss/estilos.scss */
.vertical-align-middle { vertical-align: middle; }

/* line 183, ../estilos_scss/estilos.scss */
.padding-bottom-3 { padding-bottom: 6px; }

/* line 186, ../estilos_scss/estilos.scss */
.padding-bottom-8 { padding-bottom: 18px; }

/* line 189, ../estilos_scss/estilos.scss */
.material-icons.md-18 { font-size: 18px; }

/* line 194, ../estilos_scss/estilos.scss */
.material-icons.md-light { color: #666666; }

/* line 199, ../estilos_scss/estilos.scss */
.direccion-menu-cel { background-color: #cccccc; }

/* line 203, ../estilos_scss/estilos.scss */
.direccion-menu { background-color: #cccccc; }
/* line 30, ../estilos_scss/estilos.scss */
.direccion-menu .h6-direccion-envio-menu { margin-top: 0%; margin-bottom: 0%; font-size: 80%; float: right; }
/* line 39, ../estilos_scss/estilos.scss */
.direccion-menu .h6-direccion-envio-menu-cel { margin-top: 0%; margin-bottom: 0%; font-size: 80%; float: left; margin-left: 10%; }
/* line 47, ../estilos_scss/estilos.scss */
.direccion-menu #separadorDireccionMenu { color: #ff6a00; font-size: 15pt; }

/* line 209, ../estilos_scss/estilos.scss */
body { overflow-x: hidden; margin: auto; }

/* line 213, ../estilos_scss/estilos.scss */
body::-webkit-scrollbar { width: 5px; }

/* line 217, ../estilos_scss/estilos.scss */
body::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

/* line 221, ../estilos_scss/estilos.scss */
body::-webkit-scrollbar-thumb { background-color: #ff6a00; outline: 1px solid slategrey; }

/*********************************MENU****************************************************************/
/* line 227, ../estilos_scss/estilos.scss */
.menu { width: 100%; background-color: #f2f2f2; }
/* line 62, ../estilos_scss/estilos.scss */
.menu p { font-family: Futura Medium; }

@-moz-document url-prefix() { /* line 233, ../estilos_scss/estilos.scss */
  .menu { width: 100%; background-color: #f2f2f2; }
  /* line 67, ../estilos_scss/estilos.scss */
  .menu p { font-family: Arial; } }

/* line 240, ../estilos_scss/estilos.scss */
#icon-mas-menu { margin-top: 2.2% !important; }

/* line 244, ../estilos_scss/estilos.scss */
#producto-title-menu { margin-left: 1% !important; margin-top: 2% !important; }

/* line 249, ../estilos_scss/estilos.scss */
#buscador-menu { margin-top: 1.3% !important; }

/*#total-menu{
	margin-top:2% !important;	
}*/
/* line 255, ../estilos_scss/estilos.scss */
.form-control:focus { border-color: #ff954d; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); }

/* line 262, ../estilos_scss/estilos.scss */
.inner-addon { position: relative; }

/* style icon */
/* line 267, ../estilos_scss/estilos.scss */
.inner-addon .material-icons { position: absolute; padding: 10px; pointer-events: none; margin-top: -2%; }

/* line 274, ../estilos_scss/estilos.scss */
.right-addon input { padding-right: 30px; }

/* line 275, ../estilos_scss/estilos.scss */
.right-addon .material-icons { right: 0px; }

/* line 285, ../estilos_scss/estilos.scss */
.h4-producto-title-menu { padding-bottom: 20px; vertical-align: middle; font-family: Futura Medium; }

@-moz-document url-prefix() { /* line 294, ../estilos_scss/estilos.scss */
  .h4-producto-title-menu { padding-bottom: 20px; vertical-align: middle; font-family: Arial; } }

/* line 302, ../estilos_scss/estilos.scss */
.element-menu { float: left; margin-top: 1%; margin-left: 6%; margin-bottom: 0%; }

/* line 307, ../estilos_scss/estilos.scss */
.element-menu-carrito { float: right; margin-right: 1%; margin-top: 1.4%; }

/* line 317, ../estilos_scss/estilos.scss */
.element-menu-buscador { float: left; margin-top: 1.5%; margin-left: 2.5%; margin-bottom: 0%; }

/* line 323, ../estilos_scss/estilos.scss */
.element-menu-carrito-cel { float: left; margin-top: 3%; margin-left: 0.5%; margin-bottom: 0%; }

/* line 329, ../estilos_scss/estilos.scss */
#mostrar-total-menu { text-align: left; line-height: 0%; margin-top: 0.2% !important; font-size: 85%; font-family: Futura Medium; }
/* line 74, ../estilos_scss/estilos.scss */
#mostrar-total-menu h6 { font-family: Futura Medium; }

@-moz-document url-prefix() { /* line 81, ../estilos_scss/estilos.scss */
  #mostrar-total-menu h6 { font-family: Arial; } }

/* line 349, ../estilos_scss/estilos.scss */
#carrito-icon-menu { margin-top: 1.2%; margin-left: 0.5% !important; z-index: 1; }

/* line 355, ../estilos_scss/estilos.scss */
#carrito-cont-menu { border-style: solid; border-color: black; border-width: 1px; }

/* line 360, ../estilos_scss/estilos.scss */
#cantidad { position: absolute; color: white; z-index: 1000; font-size: 85%; background-color: #ff6a00; padding-left: 4px; padding-right: 4px; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; margin-left: 20px; }

/* line 374, ../estilos_scss/estilos.scss */
.icon-shopping-cart { background-image: url("../elementos_separados/icon-carrito2-06.png"); width: 29px; height: 24px; }

/* line 379, ../estilos_scss/estilos.scss */
#btn-carrito { margin-top: 1.4% !important; cursor: pointer; }

/* line 384, ../estilos_scss/estilos.scss */
.carrito { border-style: solid; border-color: #cccccc; border-width: 1px; position: fixed; z-index: 1000; margin-top: -30%; left: 65%; display: none; height: auto; width: 30.5%; max-width: 320px; max-height: 500px; background-color: #2b2a2a; -webkit-box-shadow: 10px 29px 96px 1px rgba(0, 0, 0, 0.33); -moz-box-shadow: 10px 29px 96px 1px rgba(0, 0, 0, 0.33); box-shadow: 10px 29px 96px 1px rgba(0, 0, 0, 0.33); overflow-y: scroll; overflow-x: hidden; }
/* line 96, ../estilos_scss/estilos.scss */
.carrito li { font-family: Futura Medium; font-size: 80%; font-weight: bold; color: white; }

@-moz-document url-prefix() { /* line 411, ../estilos_scss/estilos.scss */
  .carrito { border-style: solid; border-color: #cccccc; border-width: 1px; position: fixed; z-index: 1000; margin-top: -30%; left: 65%; display: block; height: auto; width: 38%; max-width: 330px; max-height: 500px; background-color: #2b2a2a; -webkit-box-shadow: 10px 29px 96px 1px rgba(0, 0, 0, 0.33); -moz-box-shadow: 10px 29px 96px 1px rgba(0, 0, 0, 0.33); box-shadow: 10px 29px 96px 1px rgba(0, 0, 0, 0.33); overflow-y: scroll; overflow-x: hidden; }
  /* line 96, ../estilos_scss/estilos.scss */
  .carrito li { font-family: Arial; font-size: 80%; font-weight: bold; color: white; } }

/* line 434, ../estilos_scss/estilos.scss */
.carrito::-webkit-scrollbar { width: 4px; }

/* line 438, ../estilos_scss/estilos.scss */
.carrito::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

/* line 442, ../estilos_scss/estilos.scss */
.carrito::-webkit-scrollbar-thumb { background-color: #ff6a00; outline: 1px solid slategrey; }

/* line 449, ../estilos_scss/estilos.scss */
#carrito-close { float: right; color: #ff6a00; cursor: pointer; }

/* line 455, ../estilos_scss/estilos.scss */
ul#carrito-lista { margin-left: -13%; width: 113%; height: 100%; }

/* line 463, ../estilos_scss/estilos.scss */
#carrito-lista li { list-style: none; }

/* line 469, ../estilos_scss/estilos.scss */
#carrito-lista .item-descripcion-carrito { float: left; color: white; list-style: none; margin-left: 0%; margin-top: 0%; padding: 2%; width: 100%; border-bottom-style: solid; border-bottom-color: #cccccc; border-bottom-width: 1px; }

/* line 482, ../estilos_scss/estilos.scss */
#carrito-lista .item-total-carrito { float: left; font-family: Futura Medium; font-weight: bold; color: white; list-style: none; margin-left: 35%; height: 100%; width: 100%; padding: 6%; }

/* line 495, ../estilos_scss/estilos.scss */
.carrito-img { position: relative; float: left; padding: 0% 5% 5% 0%; }

/* line 500, ../estilos_scss/estilos.scss */
.carrito-borrar-item { position: absolute; right: 5px; margin-top: -9%; cursor: pointer; }

/* line 506, ../estilos_scss/estilos.scss */
.item-descripcion-vacio-carrito { margin-left: 15%; padding: 5%; }

/* line 108, ../estilos_scss/estilos.scss */
.boton-comprar-carrito { color: #ff6a00; margin-left: -40% !important; }

/* line 113, ../estilos_scss/estilos.scss */
.boton-comprar-carrito { border: 2px solid white; /* 2 pixeles de borde negro                                                */ text-align: center; /* Texto centrado                                                          */ text-decoration: none; /* Sin decoraciones para el texto (por defecto viene con underline)        */ padding: 10px 100px 10px 100px; /* Un poco de padding para que se vea bien el botón                        */ /* La transición en el click (:active) tiene que ser rápida 150ms (transform y color), la transición para cambiar de foco en 150ms    */ transition: transform 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; font-family: Futura Medium, Arial; /* Fuente de google                                                        */ font-size: 1.7rem; /* Tamaño de la fuente                                                     */ color: #FFF; /* Color del texto en blanco                                               */ margin: 10px; /* 10 pixeles de margen para separar los botones entre si.                 */ position: relative; /* Posición relativa para que sus hijos partan desde él                    */ overflow: hidden; /* Todo lo que sobresalga del botón no se verá                             */ cursor: pointer; /* Puntero del mouse que muestre una mano                                  */ transform: perspective(600px) translateZ(0px) rotateZ(0deg) rotateX(0deg); /* Perspectiva, rotación y posición por defecto */ text-shadow: 1px 1px 1px #666; /* Una ligera sombra gris para el texto                                    */ }

/* Elimino el outline del botón por una transición con la sombra */
/* line 131, ../estilos_scss/estilos.scss */
.boton-comprar-carrito:focus { outline: 0px solid transparent; /* Elimino el outline que viene por defecto en los button */ box-shadow: 0px 0px 4px 2px #800,  0px 0px 2px 1px #300; /* Creo uan sombra en gris oscuro con 2 tonalidades       */ }

/* Color del borde rojo al pasar el mouse por encima del botón */
/* line 137, ../estilos_scss/estilos.scss */
.boton-comprar-carrito:hover, .boton-comprar-carrito:active { border: 2px solid #ff6a00; color: white; }

/*****************************ANIMACION CAPA DE ARRIBA **/
/* Alejo el objeto en la perspectiva cuando el usuario presiona sobre él */
/* line 148, ../estilos_scss/estilos.scss */
.boton-comprar-carrito:active { transform: perspective(600px) translateZ(-75px) rotateZ(-0.5deg) rotateX(-10deg); /* Creo el efecto de hundimiento para el botón */ color: #BBB; /* Cambio el color del texto a gris            */ }

/*Cuerpos estándar para los pseudo-elementos ::before (Capa animación) y ::after (Capa fondo)*/
/* Preparación para los pseudo elementos before y after */
/* line 157, ../estilos_scss/estilos.scss */
.boton-comprar-carrito::before, .boton-comprar-carrito::after { content: ''; /* Contenido (requerida para inicializar el pseudo-selector)               */ position: absolute; /* Posición absoluta (relativa al button)                                  */ top: 0px; /* Empezamos desde arriba del <button>                                     */ left: 0px; /* Empezamos desde la izquierda del <button>                               */ width: 100%; /* Ancho 100% del <button>                                                 */ height: 100%; /* Alto 100% del <button>                                                  */ transition: 0.4s ease-in-out; /* Transición para el hover de 500ms para que se vea bien (capa animación) */ }

/* Para las transiciones del fondo a color rojo en el hover, se utilizara el pseudo elemento ::before (capa animación) */
/* line 167, ../estilos_scss/estilos.scss */
.boton-comprar-carrito::before { z-index: -1; /* MUY IMPORTANTE esta capa va por debajo de la capa principal */ }

/* Para mostrar el fondo negro del botón se utilizara el pseudo elemento ::after (capa fondo) */
/* line 171, ../estilos_scss/estilos.scss */
.boton-comprar-carrito::after { z-index: -2; /* MUY IMPORTANTE esta capa va por debajo de la capa animación */ background-color: #ff6a00; /* Color del fondo gris oscuro                                 */ }

/* line 517, ../estilos_scss/estilos.scss */
.list-busqueda-menu { list-style: none; color: black; border-bottom-style: solid; border-bottom-color: #ff6a00; border-bottom-width: 1px; padding: 5px; }

/* line 523, ../estilos_scss/estilos.scss */
.a-busqueda-menu { font-family: Futura Medium; color: black; }

@-moz-document url-prefix() { /* line 528, ../estilos_scss/estilos.scss */
  .a-busqueda-menu { font-family: Arial; color: black; } }

/************SLIDER****************************************************************************************/
/* line 534, ../estilos_scss/estilos.scss */
.slider { width: 100%; margin: auto; overflow: hidden; z-index: 1; }

/* line 540, ../estilos_scss/estilos.scss */
.slider ul { display: flex; padding: 0; width: 200%; animation: cambio 4s infinite; animation-direction: alternate; }

/* line 548, ../estilos_scss/estilos.scss */
.slider li { list-style: none; width: 100%; }

@keyframes cambio { /* line 554, ../estilos_scss/estilos.scss */
  0% { margin-left: 0; }
  /* line 555, ../estilos_scss/estilos.scss */
  25% { margin-left: 0; }
  /* line 556, ../estilos_scss/estilos.scss */
  50% { margin-left: -100%; }
  /* line 557, ../estilos_scss/estilos.scss */
  100% { margin-left: -100%; } }

/**********************PRODUCTO/*************************************************************************/
/* line 560, ../estilos_scss/estilos.scss */
.producto-precio { border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px; width: 45%; margin-left: 25%; }

/*******************************************************************************************************/
/* line 566, ../estilos_scss/estilos.scss */
.producto { width: 30%; float: left; text-align: center; margin-left: 2%; margin-top: 2%; }

/* line 576, ../estilos_scss/estilos.scss */
#resultadoBusqueda { border-style: solid; border-color: black; border-width: 1px; position: Absolute; z-index: 1000; background-color: white; display: none; }

/* line 588, ../estilos_scss/estilos.scss */
#comprar-total { border-style: solid; border-color: black; border-width: 1px; width: 25%; height: 25%; margin-top: 5%; margin-right: 2%; display: block; }
/* line 24, ../estilos_scss/estilos.scss */
#comprar-total li { list-style-type: none; }

/* line 598, ../estilos_scss/estilos.scss */
.div-identificacionMp { display: inline-block; width: 25%; }

/* line 603, ../estilos_scss/estilos.scss */
.div-direccionMp { display: inline-block; width: 25%; margin-top: 0%; }

/* line 610, ../estilos_scss/estilos.scss */
#nombre-form-alert { display: none; }

/* line 613, ../estilos_scss/estilos.scss */
#apellido-form-alert { display: none; }

/* line 616, ../estilos_scss/estilos.scss */
#dni-form-alert { display: none; }

/* line 619, ../estilos_scss/estilos.scss */
#email-form-alert { display: none; }

/* line 622, ../estilos_scss/estilos.scss */
#cod_area-form-alert { display: none; }

/* line 625, ../estilos_scss/estilos.scss */
#telefono-form-alert { display: none; }

/* line 629, ../estilos_scss/estilos.scss */
.form-alert { color: red; }

/* line 633, ../estilos_scss/estilos.scss */
#btn-form { display: none; }

/* line 636, ../estilos_scss/estilos.scss */
#cp-form-alert { display: none; }

/* line 639, ../estilos_scss/estilos.scss */
#calle-form-alert { display: none; }

/* line 643, ../estilos_scss/estilos.scss */
#altura-form-alert { display: none; }

/* line 646, ../estilos_scss/estilos.scss */
#provincia-form-alert { display: none; }

/* line 649, ../estilos_scss/estilos.scss */
#ciudad-form-alert { display: none; }

/* line 652, ../estilos_scss/estilos.scss */
#piso-form-alert { display: none; }

/* line 655, ../estilos_scss/estilos.scss */
#departamento-form-alert { display: none; }

/* line 659, ../estilos_scss/estilos.scss */
#contrasenia-form-alert { display: none; }

/* line 662, ../estilos_scss/estilos.scss */
#validarContraseniaButton { display: none; }

/* line 665, ../estilos_scss/estilos.scss */
#contrasenia-repetir-form-alert { display: none; }

/* line 668, ../estilos_scss/estilos.scss */
#validarUsuario-form-alert { display: none; }

/* line 671, ../estilos_scss/estilos.scss */
.comprobante { border-style: solid; border-color: black; border-width: 1px; width: 50%; margin-top: 2%; }

/* line 676, ../estilos_scss/estilos.scss */
span { color: red; }

/* line 680, ../estilos_scss/estilos.scss */
.total-comprobante { margin-left: 40%; }
