$naranja:rgb(255,106,0);
$naranja-input:rgb(255,149,77);
$gris-claro:rgb(204,204,204);
$blanco:rgb(242,242,242);
$gris-campo-busqueda:rgb(229,229,229);
$icons-color: rgba(102, 102, 102, 1);
$fuente:Futura Medium;
$fuente-secundaria:Arial;
$blanco-100:white;
$color-bordes-menu:#e6e6e6;
$negro:rgb(43,42,42);
$titulos-producto:impact;
$titulos-separador:Futura Lt Condensed;

////////////////Modificar Bootstrap para 5 columnas/////////////////
/////////////////////////////////////////////////
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15
{
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15
{
  width: 20%;
  float: left;
}
@media (min-width: 768px)
{
  .col-sm-15
  {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px)
{
  .col-md-15
  {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px)
{
  .col-lg-15
  {
    width: 20%;
    float: left;
  }
}
//////////////////////////////////////////////////////////
@mixin borde($color){
	border-style:solid;
	border-color:$color;
	border-width:1px;
}

@mixin bordeBottom($color){
	border-bottom-style:solid;
	border-bottom-color:$color;
	border-bottom-width:1px;
}

@mixin bordeBottomWidth($color,$width){
	border-bottom-style:solid;
	border-bottom-color:$color;
	border-bottom-width:$width;
}


@mixin bordetopWidth($color,$width){
	border-top-style:solid;
	border-top-color:$color;
	border-top-width:$width;
}

@mixin listaSinDecoracion(){
	li{
	list-style-type:none;
	}
}

@mixin textoDireccion(){
	.h6-direccion-envio-menu{
	margin-top:0%;
	margin-bottom:0%;
	
	font-size:80%;
	//margin-left:60%;
	float:right;

}
.h6-direccion-envio-menu-cel{
	margin-top:0%;
	margin-bottom:0%;
	font-size:80%;
	float:left;
	margin-left:10%;

}
#separadorDireccionMenu{
	color:$naranja;
	font-size:15pt;

}
}//mixin

@mixin sombraCarrito(){
	-webkit-box-shadow: 10px 29px 96px 1px rgba(0,0,0,0.33);
-moz-box-shadow: 10px 29px 96px 1px rgba(0,0,0,0.33);
box-shadow: 10px 29px 96px 1px rgba(0,0,0,0.33);
}


@mixin textoMenu(){
	p{
		font-family: Futura Medium;
	}
}
@mixin textoMenuSecundario(){
	p{
		font-family: Arial;
	}
}


@mixin tituloCarrito(){
	h6{
		font-family: Futura Medium;
	}

}

@mixin tituloCarritoSecundario(){
	h6{
		font-family: Arial;
	}
}
@mixin titulosBuscadorFiltro($color,$font-family){

	h5{
		font-family: $font-family;
		color:$color;
		font-weight: bold;
	}

}
@mixin element-menu($margin-left,$margin-top){
	float:left;
	margin-top:$margin-top;
	margin-left:$margin-left;
	margin-bottom:0%;
}

@mixin carrito($margin-top){
		@include borde($gris-claro);
	position:fixed;
	z-index:5000;
	//margin:auto;
	margin-top:$margin-top;
	//right:0%;
	left:65%;
	display:none;
	height:auto;
	width:30.5%;
	max-width:320px;
		max-height:500px;

	background-color:rgb(43,42,42);

	@include textoCarrito($fuente);
	@include sombraCarrito();
	overflow-y:scroll;
	overflow-x:hidden;
}



@mixin textoCarrito($fuente){


li{
	font-family:$fuente;

	font-size:80%;

	font-weight:bold;

	color:$blanco-100;
}
}



@mixin warningBuscadorFiltros($fuente){
		
	font-family:$fuente;
	color:$gris-claro;

}

@mixin material-icons($color){
	.material-icons{
	padding:5px;
	color:$color;
}
}

@mixin animated-btn(){

	
}















@mixin boton-comprar-carrito(){
	.boton-comprar-carrito{
	color:$naranja;
	margin-left:-40% !important;
}

.boton-comprar-carrito {
    border              : 2px solid white;                      /* 2 pixeles de borde negro                                                */
    text-align          : center;                              /* Texto centrado                                                          */
    text-decoration     : none;                                /* Sin decoraciones para el texto (por defecto viene con underline)        */
    padding             : 10px 100px 10px 100px;                                /* Un poco de padding para que se vea bien el botón                        */
    /* La transición en el click (:active) tiene que ser rápida 150ms (transform y color), la transición para cambiar de foco en 150ms    */
    transition          : transform 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;   
    font-family         : $fuente, $fuente-secundaria;                   /* Fuente de google                                                        */
    font-size           : 1.7rem;                              /* Tamaño de la fuente                                                     */
    color               : #FFF;                                /* Color del texto en blanco                                               */
    margin              : 10px;                                /* 10 pixeles de margen para separar los botones entre si.                 */
    position            : relative;                            /* Posición relativa para que sus hijos partan desde él                    */
    overflow            : hidden;                              /* Todo lo que sobresalga del botón no se verá                             */
    cursor              : pointer;                             /* Puntero del mouse que muestre una mano                                  */
    transform           : perspective(600px) translateZ(0px) rotateZ(0deg) rotateX(0deg); /* Perspectiva, rotación y posición por defecto */
    text-shadow         : 1px 1px 1px #666;                    /* Una ligera sombra gris para el texto                                    */
}
/* Elimino el outline del botón por una transición con la sombra */
.boton-comprar-carrito:focus { 
    outline    : 0px solid transparent;                        /* Elimino el outline que viene por defecto en los button */
    box-shadow : 0px 0px 4px 2px #800,  0px 0px 2px 1px #300;  /* Creo uan sombra en gris oscuro con 2 tonalidades       */  
}  

/* Color del borde rojo al pasar el mouse por encima del botón */
.boton-comprar-carrito:hover, .boton-comprar-carrito:active { border : 2px solid $naranja; color:white; }








/*****************************ANIMACION CAPA DE ARRIBA **////////////////////////////////////////          
/* Alejo el objeto en la perspectiva cuando el usuario presiona sobre él */
.boton-comprar-carrito:active {
    transform : perspective(600px) translateZ(-75px) rotateZ(-0.5deg) rotateX(-10deg); /* Creo el efecto de hundimiento para el botón */
    color     : #BBB;                                                                  /* Cambio el color del texto a gris            */
}


/*Cuerpos estándar para los pseudo-elementos ::before (Capa animación) y ::after (Capa fondo)*/

/* Preparación para los pseudo elementos before y after */
.boton-comprar-carrito::before, .boton-comprar-carrito::after {
    content    : '';                   /* Contenido (requerida para inicializar el pseudo-selector)               */
    position   : absolute;             /* Posición absoluta (relativa al button)                                  */
    top        : 0px;                  /* Empezamos desde arriba del <button>                                     */
    left       : 0px;                  /* Empezamos desde la izquierda del <button>                               */
    width      : 100%;                 /* Ancho 100% del <button>                                                 */
    height     : 100%;                 /* Alto 100% del <button>                                                  */
    transition : 0.4s ease-in-out;     /* Transición para el hover de 500ms para que se vea bien (capa animación) */
}
/* Para las transiciones del fondo a color rojo en el hover, se utilizara el pseudo elemento ::before (capa animación) */
.boton-comprar-carrito::before {
    z-index    : -1;                   /* MUY IMPORTANTE esta capa va por debajo de la capa principal */
}
/* Para mostrar el fondo negro del botón se utilizara el pseudo elemento ::after (capa fondo) */
.boton-comprar-carrito::after {
    z-index          : -2;             /* MUY IMPORTANTE esta capa va por debajo de la capa animación */
    background-color : $naranja;  /* Color del fondo gris oscuro                                 */
}
}
/********************************FIN DE MIXIING****************************************/


.vertical-align-middle { 
    vertical-align: middle; 
}

.padding-bottom-3 {
    padding-bottom: 6px;
}
.padding-bottom-8 {
    padding-bottom: 18px;
}
.material-icons.md-18 {
 font-size: 18px; 

}

.material-icons.md-light {
 color:$icons-color;

 }

 .direccion-menu-cel{
 	background-color:$gris-claro;
 }

  .direccion-menu{
 	background-color:$gris-claro;
 	@include textoDireccion();
 }


body{
	overflow-x:hidden;
	margin:auto;
}
body::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: $naranja;
  outline: 1px solid slategrey;
}

/*********************************MENU****************************************************************/
 .menu{
 	width: 100%;
	background-color:$blanco;
	@include textoMenu();
    @include bordeBottom($color-bordes-menu);
}

#menu-fixed{
	z-index:2000 !important;
}
@-moz-document url-prefix() {
	 .menu{
 	width: 100%;
	background-color:$blanco;
	@include textoMenuSecundario();
}

}
 #icon-mas-menu{
 	margin-top:2.2% !important;
 }

#producto-title-menu{
	margin-left:1% !important;
	margin-top:2% !important;
 }

 #buscador-menu{
 	margin-top:1.3% !important;
 }
 /*#total-menu{
 	margin-top:2% !important;	
 }*/
.form-control:focus {
  border-color: $naranja-input;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}



.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .material-icons {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  margin-top: -2%;
}

.right-addon input { padding-right: 30px; }
.right-addon .material-icons { right: 0px;}


 .campo-busqueda-menu{
 //	background:$gris-campo-busqueda;
 	//height:40px; 
 }



.h4-producto-title-menu{

   padding-bottom: 20px;
   vertical-align: middle; 
   font-family:$fuente;
}

@-moz-document url-prefix() {

.h4-producto-title-menu{
    padding-bottom: 20px;
	vertical-align: middle; 
   font-family:$fuente-secundaria;
}
}//mozilla


.element-menu{

	@include element-menu(5%,1%);

}
.element-menu-carrito{
	float:left;
	margin-right:1%;
	margin-top:1.4%;

	//@include element-menu(0.5%,1.5%);


}


.element-menu-buscador{

	@include element-menu(2.5%,1.5%);

}

.element-menu-carrito-cel{

	@include element-menu(0.5%,3%);


}
#mostrar-total-menu{
	//@include borde(black);
	text-align:left;
	line-height:0%;
	margin-top:0.2% !important;
	font-size:85%;
	font-family:$fuente;
	margin-left:2%;

	@include tituloCarrito();
}

@-moz-document url-prefix() {
	#mostrar-total-menu{
	@include tituloCarritoSecundario
	}
}




#carrito-icon-menu{
	margin-top:1.2%;
	margin-left:0.5% !important;
	z-index:1;
}

#carrito-cont-menu{
	@include borde(black);
	//padding:5px;
}

#cantidad{
	position:absolute;
	color:white;
	z-index:1000;
	font-size:85%;
	
	background-color:$naranja;
	  padding-left: 4px;
  padding-right: 4px;
	  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  margin-left: 20px;
}
.icon-shopping-cart{
	background-image:url("../elementos_separados/icon-carrito2-06.png");
	width:29px;
	height:24px;
}
#btn-carrito{
	margin-top:1.4% !important;
	cursor:pointer;
}

.carrito{
	@include carrito(-30%);
	}
.carrito-para-buscador-filtros{
	@include carrito(1%);
}

	@-moz-document url-prefix() {
	.carrito{
	@include borde($gris-claro);
	position:fixed;
	z-index:5000;
	//margin:auto;
	margin-top:-30%;
	//right:0%;
	left:65%;
	display:block;
	height:auto;
	width:38%;
	max-width:330px;
		max-height:500px;
		background-color:$negro;

	@include textoCarrito($fuente-secundaria);
		@include sombraCarrito();
		overflow-y:scroll;
	overflow-x:hidden;

	}
	}

	.carrito::-webkit-scrollbar {
    width: 4px;
}
 
.carrito::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.carrito::-webkit-scrollbar-thumb {
  background-color: $naranja;
  outline: 1px solid slategrey;
}

	.carrito-para-buscador-filtros::-webkit-scrollbar {
    width: 4px;
}
 
.carrito-para-buscador-filtros::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.carrito-para-buscador-filtros::-webkit-scrollbar-thumb {
  background-color: $naranja;
  outline: 1px solid slategrey;
}



#carrito-close{
	float:right;
	color:$naranja;
	cursor: pointer;
}

ul#carrito-lista{
	//padding:50px;
	margin-left:-13%;
	width:113%;
	height:100%;


}
#carrito-lista li{
	list-style:none;
	//display:inline;
}


#carrito-lista .item-descripcion-carrito{
	float:left;

	color:$blanco-100;
	list-style:none;
	margin-left:0%;
	margin-top:0%;
	padding:2%;
	width:100%;
	@include bordeBottom($gris-claro);

}

#carrito-lista .item-total-carrito{
	float:left;
	font-family:$fuente;
	font-weight:bold;
	color:$blanco-100;
	list-style:none;
	margin-left:35%;
	height:100%;
	width:100%;
	padding:6%;
	//@include bordeBottom($gris-claro);

}
.carrito-img{
	position:relative;
	float:left;
	padding:0% 5% 5% 0%;
}
.carrito-borrar-item{
	position:absolute;
	right:5px;
	margin-top:-9%;
	cursor:pointer;
}
.item-descripcion-vacio-carrito{


	margin-left:15%;
	padding:5%;

}


@include boton-comprar-carrito();

.list-busqueda-menu{
	list-style:none;
	color:black;
	@include bordeBottom($naranja);
	padding:5px;
}
.a-busqueda-menu{
	font-family:$fuente;
	color:black;
}
	@-moz-document url-prefix() {
	.a-busqueda-menu{
	font-family:$fuente-secundaria;
	color:black;
}	
	}

	#logo-menu{
		cursor:pointer;
	}
/************SLIDER****************************************************************************************/
.slider{
	width:100%;
	margin:auto;
	overflow:hidden;
	z-index:1;
}
.slider ul{
	display:flex;
	padding:0;
	width:200%;

	animation: cambio 4s infinite;
	animation-direction:alternate;
}
.slider li{
	list-style:none;
	width:100%;
}

@keyframes cambio{
	0%{margin-left:0;}
	25%{margin-left:0;}
	50%{margin-left: -100%;}
	100%{margin-left:-100%;}
}


/****************************************TITULOS HOME/**********************************************/
.titulo-home-row{
	margin-top:-3%;

}


.titulo-home{
	text-align:center;
	margin-top:0% !important;
}
.titulo-home h3 {
	color:white;
	font-family:$fuente;
	font-weight:500;
	padding:2%;
	margin-top:3%;


}
div.titulo-cont{
	background-color:$negro;
	width:20%;
	height: 20%;
	margin-left:40%;
	text-align:center;

}
@-moz-document url-prefix() {
.titulo-home h3 {
	color:white;
	font-family:$fuente-secundaria;
	font-weight:500;
	padding:9%;
	margin-top:3%;
}
}

hr.linea-titulo{
	border-style:solid;
	border-width:1px;
	border-color:$naranja;
	width:50%;
	margin:0% 0% 0% 24%;
}


/***********************************************SEPARADOR********************************************/
div.separador{
	background-color:$negro;
}
.separador-row{
	margin-top:2%;
}

.separador-row h2{
	float:left;
	font-family: $titulos-separador;
	font-style:italic;
	font-weight:100;
	color:white;
	padding-bottom:2%;
//	padding:0%;
	margin-left:10%;
	width:auto;
}
@-moz-document url-prefix() {

.separador-row h2{
	float:left;
	font-family: $fuente-secundaria;
	font-style:italic;
	font-weight:100;
	color:white;
	padding-bottom:2%;
//	padding:0%;
	margin-left:10%;
	width:auto;
}
}

.separador-img{
	float:left;
}

.element-separador{
	margin-left:14%;
}
img.separador-img{
	margin-top:2%;
}
/*************************FIXED-CONTACTO-INFO*******************************************************/
.fixed-contacto-info{
	z-index:5000;
	position: fixed;
    border-style: solid;
    border-color: $naranja;
    border-width: 1px;
    width: auto;
    height: auto;
    background-color: $blanco;
    right: 1%;
    bottom: 8%;
    margin-bottom:0%;
    float: right;
    border-radius:5px;
    text-align: center;
    display:block;
}
.fixed-contacto-info p{
	margin:1.5%;
	color:$naranja;
}
.fixed-contacto-info #info-contacto-close{
	float:right;
	color:$naranja;
	cursor:pointer;
}

.fixed-contacto-info:after, .fixed-contacto-info:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.fixed-contacto-info:after {
	border-color: rgba(213, 110, 32, 0);
	border-top-color: $blanco;
	border-width: 20px;
	margin-left: 105px;
}
.fixed-contacto-info:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: $naranja;
	border-width: 22px;
	margin-left: 103px;
}
/**********************PRODUCTO/*************************************************************************/



.producto-precio{
	@include bordeBottomWidth(black,2px);
	width:100%;
	margin-left:0%;
}

.producto{
	//@include borde(black);
	float:left;
	max-width:20%;
	max-height:25%;
	text-align:center;
	margin-left:1%;
	margin-top:4%;
	z-index:-1;
}

.producto del{
	
	font-size:90%;
}

.producto h3{
	font-family:$titulos-producto;
	margin-top:-10px;
}


.producto h3 span{
	font-family:impact;
	color:$naranja;
}

.producto h4{
	font-size:109%;
	font-weight:bold;
}

.producto-buscador-filtros h4{
	font-size:100%;
}
@-moz-document url-prefix() {
.producto h4{
	font-size:100%;
	font-weight:bold;
}
}
.producto ul{
	//width:40%;
	margin:0%;
	padding:0%;
	margin-left:8%;
	//list-style:none;
	margin-top:5%;
	padding-bottom:10%;
	text-align:left;

}
.producto ul li{
	font-size:75%;
	font-family:arial;
	font-weight:600;

}

.paralelogramo-btn{
	margin-left:20%;
	-webkit-transform: skew(-7deg); 
   -moz-transform: skew(-7deg); 
   -o-transform: skew(-7deg); 
    background: $naranja;
    width: 120px; 
   height: 30px; 

}
.producto a{
	color:white;
   margin-top:15%;
   font-family: $fuente;
   font-size: 135%;
   @include animated-btn();
 	text-decoration: none;
  

}

	.producto a:after {
	  content: '';
	  position: absolute;
	  bottom: 5px;
	  left: 25%;
	  width: 0%;
	  border-bottom: 2px solid #3366FF;
	  transition: 0.4s;
	    border-color: white;

	}

		.producto a:hover:after {
		  width: 50%;
		  color:white;
		  background-color: white;
		  border-color: white;
		}

@-moz-document url-prefix() {

.producto a{
	color:white;
   margin-top:15%;
   font-family: $fuente-secundaria;
   font-size: 135%;
  

}
}

/*********************************************PRODUCTO-RESPONSIVE************************************/
.producto-responsive{
	text-align:center;
	line-height:1%;
}
.producto-responsive h3{
	font-family:$titulos-producto;
	line-height:109%;
	font-size:170%;

}

.producto-responsive h3 span{
	font-family:$titulos-producto;
	color:$naranja;
}

.producto-responsive h4{
	font-weight:bold;
	font-size:113%;
}
.producto-precio-responsive{
	@include bordeBottomWidth($negro,2px);

}

.producto-responsive ul{
	margin-top:3%;
	text-align:left !important;
	line-height:100% !important;
		margin-left:-10%;

}

.producto-responsive ul li{
	font-size:75%;
	font-family:arial;
	font-weight:600;


}

.paralelogramo-btn-responsive {
	margin-left:20%;
	-webkit-transform: skew(-7deg); 
   -moz-transform: skew(-7deg); 
   -o-transform: skew(-7deg); 
    background-color: $naranja;
    width: 120px; 
   height: 30px; 

}

.producto-responsive a{
    color: white;
    top: 41%;
    left: 25%;
    font-family: $fuente;
    font-size: 135%;
    text-decoration: none;
    position: absolute;

}
@-moz-document url-prefix() {
.producto-responsive a{
    color: white;
    top: -15%;
    left: 20%;
    font-family: $fuente;
    font-size: 135%;
    text-decoration: none;
    position: absolute;

}
}
@-moz-document url-prefix() {
.producto-responsive a:after {
	  content: '';
	  position: absolute;
	  bottom: -5px !important;
	  left: 0%;
	  width: 0%;
	  border-bottom: 2px solid #3366FF;
	  transition: 0.4s;
	    border-color: white;

	}}

	.producto-responsive a:after {
	  content: '';
	  position: absolute;
	  bottom: -13px;
	  left: 0%;
	  width: 0%;
	  border-bottom: 2px solid #3366FF;
	  transition: 0.4s;
	    border-color: white;

	}

		.producto-responsive a:hover:after {
		  width: 99%;
		  color:white;
		  background-color: white;
		  border-color: white;
		}

@-moz-document url-prefix() {

.producto-responsive a{
	color:white;
   margin-top:15%;
   font-family: $fuente-secundaria;
   font-size: 135%;
  

}
}
.titulo-buscador{
	font-size:160% !important;
}
/*******************************************Buscador filtros/*********************************************/

form#buscador-filtros-form{
	margin:1% 0% 0% 2%;
}

#buscador-fixed{
width:102%;
@include bordeBottom($color-bordes-menu);
z-index: 2000 !important;
}

.buscador-filtros{
	z-index:1 !important;
	background-color:$blanco;
}

.buscador-filtros-tituloInput{
	text-align:center;
	float:left;
	margin-left:2%;
	@include titulosBuscadorFiltro($naranja,$fuente);
	line-height: 1%;
		padding-bottom:0.75%;	


}
.buscador-filtros-tituloInput-index{

	text-align:center;
	float:left;
	margin-left:5%;
	@include titulosBuscadorFiltro($naranja,$fuente);
	line-height: 1%;

}
@-moz-document url-prefix() {
.buscador-filtros-tituloInput{
	text-align:center;
	float:left;
	margin-left:2%;
	@include titulosBuscadorFiltro($naranja,$fuente-secundaria);

}
}


select.buscador-filtros-select{
	width:100px;
	height:35px;
		font-family:$fuente;
		color:$naranja;

}




select.buscador-filtros-select-index{
	width:145px;
		font-family:$fuente;;

}

select.buscador-filtros-select option{
	font-family:$fuente;

}

@-moz-document url-prefix() {

select.buscador-filtros-select{
	width:100px;
		font-family:$fuente-secundaria;

}
select.buscador-filtros-select option{
	font-family:$fuente-secundaria;

}
}



.buscador-filtros-btn{
	//@include borde(black);
	float:left;
	background-color:$naranja;
	border-radius:6px;
	margin-top:0%;
	margin-left:3%;
	cursor:pointer;
	@include material-icons(white);

}

.buscador-filtros-btn:hover{
	background-color:$negro;
	@include material-icons($naranja);

}
#buscar-btn-buscador-filtros{
	margin-top:3.6% !important;
}


.warning-buscador-filtros{
	display:none;
	@include warningBuscadorFiltros($fuente);
}

@-moz-document url-prefix() {

	.warning-buscador-filtros{
		display:none;
		@include warningBuscadorFiltros($fuente-secundaria);

}
}
.align-warning-text{
	text-align:center;
}

/****************************************FOOOTERS***************************************************************/
.row-footer-fila-1{
	margin-top:5%;
}

.row-footer-fila-1{
	background-color:$blanco;
	@include bordetopWidth($color-bordes-menu,1px);

}

.footer-fila-1 ul{
	margin-left:-3%;

}
.footer-fila-1 ul li{
	display:inline;

}
.footer-fila-1 h4{
	font-weight:bold;
	margin-left:2%;

}



.row-footer-logo{
		background-color:$blanco;
			@include bordetopWidth($color-bordes-menu,1px);
}


#footer-logo{
	margin-left:0%;
	padding:1% 1% 1% 0%;
}

.row-footer-fila-2{
	background-color:$blanco;
	//@include bordetopWidth($color-bordes-menu,1px);

}
.footer-fila-2{
	margin-left:0%;
	padding:0%;
}

.footer-fila-2 ul {
	float:left;
	margin-left:-8%;
	list-style:none;
	font-family:$fuente-secundaria;
	font-weight:bold;
	font-size:100%;
}
.footer-fila-2 ul li {
	padding:1%;
}

.footer-fila-2-col-2{
	margin-top:-3%;
	margin-left:0%;
	padding:0%;
}

.footer-fila-2-col-2 ul{
	float:left;
	padding:1%;
	margin-left:0%;
	list-style:none;
	font-family:$fuente-secundaria;
	font-weight:bold;
	font-size:85%;
	text-align:center;
	    margin-top: -7%;
	font-size:100%;
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:$gris-claro;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:$gris-claro;
}

.footer-fila-2-col-2 #utilidades{
	height:170px;
	border-left-width:0px !important;
	//width:35%;
}

.footer-fila-2-col-2 ul li{
	padding:1%;
	color:grey;

}
@-moz-document url-prefix() {

.footer-fila-2-col-2 ul li{
	padding:1% 0% 1% 0% ;
	color:grey;

}
}


.footer-fila-2-col-2 ul li h4{
	color:$naranja !important;

}

.footer-fila-2-col-3{
		margin-top:-3%;
	text-align:center;
	color:$naranja;
}

div#footer-fila-2-col-3-cont{
	width:auto;
	height:auto;
	margin-top:-6%;
}

div#footer-fila-2-col-3-cont h4{
	font-weight:bold;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.row-footer-fila-1-buscador-filtros{
	//margin-top:26%;
}


/*****************************************************************************************************/
#resultadoBusqueda{
	@include borde(black);
	position:Absolute;
	z-index:2000 !important;
	background-color:white;
	//width:29.8%;
	//height:10%;
	//margin-left: 2%;
	display:none;


}
#comprar-total{
	@include borde(black);
	@include listaSinDecoracion();
	width:25%;
	height:25%;
	//float:right;
	margin-top:5%;
	margin-right:2%;
	display:block;
}
.div-identificacionMp{
	//@include borde(black);
	display:inline-block;
	width:25%;
}
.div-direccionMp{
	//@include borde(black);
	display:inline-block;
	width:25%;
	margin-top:0%;

}
#nombre-form-alert{
	display:none;
}
#apellido-form-alert{
	display:none;
}
#dni-form-alert{
	display:none;
}
#email-form-alert{
	display:none;
}
#cod_area-form-alert{
	display:none;
}
#telefono-form-alert{
	display:none;
}

.form-alert{
	color:red;
}

#btn-form{
	display:none;
}
#cp-form-alert{
	display:none;
}
#calle-form-alert{
	display:none;
}

#altura-form-alert{
	display:none;
}
#provincia-form-alert{
	display:none;
}
#ciudad-form-alert{
	display:none;
}
#piso-form-alert{
	display:none;
}
#departamento-form-alert{
	display:none;
}

#contrasenia-form-alert{
	display:none;
}
#validarContraseniaButton{
	display:none;
}
#contrasenia-repetir-form-alert{
	display:none;
}
#validarUsuario-form-alert{
	display:none;
}
.comprobante{
	@include borde(black);
		width:50%;
		margin-top: 2%;
}
span{
	color:red;

}
.total-comprobante{
	margin-left:40%;
}